<!DOCTYPE html>
{%extends 'star/base.html'%}
{%block child_block%}
<nav class="navbar navbar-expand-lg navbar-light  sticky-top ">
    <div class="container">
  <a class="navbar-brand" href="#">Patient Test And Medical Imaging</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-end ml-auto">
      <li class="nav-item text-uppercase">
          <a class="nav-link" href="/">home</a>
        </li>
     
     
     
     
           
     </ul>
  </div>
</div>
</nav>
<h2 class="text-center text-capitalize">All Patient Data</h2>

  <div  class="container padding col-md-10">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Patient Names</th>
        <th scope="col">Doctor Names</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Test</th>
        <th scope="col">Result</th>
        <th>Action</th>
       
      </tr> 
    </thead>
    {%for patient in patients%}
    <tbody>
        <tr>
         
          <td>{{patient.names}}</td>
          <td>{{patient.dr}}</td>
          <td>{{patient.age}}</td>
          <td>{{patient.gender}}</td>
          <td>{{patient.test}}</td>
          <td>{{patient.result}}</td>
          <td><a href="/delete/{{patient.id}}" class="btn-signup">Delete</a>
            <a href="/update/{{patient.id}}" class="btn-signup">Update</a></td> 
         
        </tr>
      </tbody>
    {%endfor%}
    
</table>
</div>

{%endblock%}