{% extends 'layout.html' %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light  sticky-top ">
      <div class="container">
    <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" lt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav justify-content-end ml-auto">
        <li class="nav-item text-uppercase">
            <a class="nav-link" href="/">home</a>
          </li>
       
       
        <li class="nav-item text-uppercase">
            <a class="nav-link" href="/allpatient">Find Patient</a>
          </li>
         
            <li class="nav-item text-uppercase">
                <a class="nav-link" href="/new">new</a>
              </li>
             
       </ul>
    </div>
  </div>
  </nav>

 <section class="about">

  <div  class="container padding col-md-10"> 
  <h4 class="text-capitalize"> Inspiration Behind This Project</h4>
    <p>
      This project is inspired by the difficulties patients face carrying the scans, medical imaging, and transfer
       results from a doctor to another,from one hospital to another including the time spent at the hospital 
       waiting for these results.
       
      </p>
      <h4 class="text-capitalize">Imaging explained</h4>
      <p>What is imaging?
        Imaging is a range of tests used to create images of parts of the body. These can help:
        
        <li>screen for possible health conditions before symptoms appear</li> 
        <li>diagnose the likely cause of existing symptoms</li>
        <li> monitor health conditions that have been diagnosed, or the effects of treatment for them</li>
        
       Imaging is also called radiology. Doctors who specialise in imaging are called radiologists. 
        
        There are many different types of imaging, such as 
        <li>X-rays</li>
        <li>CT (computed tomography) scans</li>
        <li>MRI (magnetic resonance imaging)</li> and 
        <li>ultrasound</li>
         Each imaging type uses a different technology to create an image. </p>
      <h4 class="text-capitalize">The Problem that this application solve for my communitty or at the world Large</h4>
      <p>

      This project aims to send and store safeguarding patient scans, medical imaging, and  result data
       electronically. Through this application,the patient will no longer have to wait for their resultsat the hospital,The radiology
        report –
        the written analysis by the radiologist interpreting your imaging study –
        is transmitted to the requesting physician or medical specialist 
         who referred the patient will be registered by the radiologist and will be available for every doctor that the 
         patient can consult ,<li> <b> Avoiding the risk of being damaged</b></li>  or <li> <b>Lost by the patient</b>  </li> In Rwanda scans and medical 
         imaging are typically interpreted within 24 hours (emergency) or more, and given to the patient as an image 
         (a hard copy). </p>
  

</div>
</section>
 

    <footer>

        
                 
                 <div class="col-12 text-center">
                  
                   <p> &copy; BuildForSDG Team-808</p>
                 </div>
         
      </footer>
      {% endblock %}
       