

   {% extends 'layout.html' %}

   {% block body %}

   <nav class="navbar navbar-expand-lg navbar-light  sticky-top ">
    <div class="container">
  <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" lt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-end ml-auto">
      <li class="nav-item text-uppercase">
          <a class="nav-link" href="/">home</a>
        </li>
     
     
      <li class="nav-item text-uppercase">
          <a class="nav-link" href="/allpatient"> Find Patient</a>
        </li>
       
        <li class="nav-item text-uppercase">
          <a class="nav-link" href="/patient"> Patient</a>
        </li>  
     </ul>
  </div>
  </div>
  </nav>





  <h2 class="text-center text-capitalize">Patient Data</h2>
    <div  class="container padding col-md-8">

      <form method="POST" action="/allpatient" class="col-md-10">
        
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Patient Names</label>
              <input type="text" class="form-control" placeholder=" name">
            </div>
            <div class="col">
              <label for="inputEmail4">Doctor Names</label>
              <input type="text" class="form-control" placeholder=" name">
            </div>
          </div>

        
            <div class="form-row">
              <div class="col">
                <label for="inputEmail4">Age</label>
                <input  class="form-control" id="inputEmail4">
              </div>
              <div class="col">
                <label for="inputState">Gender</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>Female</option>
                  <option>Male</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
              <label for="inputState">Test</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>CT Scan </option>
                  <option>MRI Scan </option>
                  <option>Ultrasound</option>
                  <option>X-Ray</option>
                  </select> </div>
              <div class="col">
                  <label for="validationTextarea">Results</label>
                  <textarea class="form-control is-invalid"
                   id="validationTextarea" placeholder="Test Result" ></textarea>
              </div>
            </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">Result Image</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            
            
            <button type="submit" class="btn-signup">Save</button>
            </form>
        
 
    
    </form>
    
</div>



  
  
 

    <footer>

        
                 
                 <div class="col-12 text-center">
                  
                   <p> &copy; BuildForSDG Team-808</p>
                 </div>
         
      </footer>
      {% endblock %}